*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.container{
    max-width: 95%;
    margin: 0 auto;
}

.section{
    background: #000;
    overflow: auto;
}

.sec1{
    background: url(./images/cat-bg.jpeg) no-repeat;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.sec2{
    background: #121212;
}